/* Default styles */
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
  font-family: "Jakarta";
  src: url("../font/PlusJakartaSans-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jakarta", sans-serif;
}
/* Header styles  */
.navbar-brand {
  border: 3px solid #000000;
  padding: 1rem;
  font-weight: bold;
}
.label {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  cursor: pointer;
}
.nav-item {
  margin: 0 0.5rem;
}
.img_div2 {
  display: flex;
  align-items: end;
  flex-direction: column;
}
.header .main_text .title {
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #000000;
}
.header .main_text .text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  color: #242424;
  width: 424px;
}
@media screen and (max-width: 1000px) {
  .header img {
    width: 100%;
    object-fit: cover;
  }
}
/* Info section styles */
.info .title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
}
/* End Info section styles */
