/* Default styles */
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
  font-family: "Jakarta";
  src: url("../font/PlusJakartaSans-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jakarta", sans-serif;
  color: #000;
  transition: all 0.2s ease-in;
}
.img {
  width: 100% !important;
  display: inline-block;
}
section {
  padding: 2rem 0;
}
/* Header styles  */
.navbar-brand {
  border: 3px solid #000000;
  padding: 1rem;
  font-weight: bold;
}
.label {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  cursor: pointer;
}
.nav-item {
  margin: 0 0.5rem;
}
.img_div2 {
  display: flex;
  align-items: end;
  flex-direction: column;
}
.header .main_text .title {
  font-weight: 400;
  font-size: 50px;
  line-height: 55px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #000000;
}
.header .main_text .text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  color: #242424;
  width: 424px;
}
/* Info section styles */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.info .title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #000;
}
.info .number {
  text-align: center;
}
.info .number p {
  font-weight: 400;
  font-size: 69px;
  line-height: 70px;
  color: #000;
  padding: 11px 28px;
  border: 3px solid #000;
  display: inline-block;
}
.info .sub-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}
.info .first {
  font-weight: 400;
  font-size: 39px;
  line-height: 46px;
  text-align: center;
}
.info .second {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}
/* End Info section styles */
/* Reklama styles start */
.reklama-item {
  transition: all 0.4s ease-in-out;
}
/* //Reklama styles end */
/* Support section styles start */
.support .content {
  background: #e2eef3;
  padding: 74px 0;
}
.filter {
  background-color: #fff;
  border-radius: 100px;
  width: 850px;
}
.filter-item a {
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  font-weight: 400;
}
.filter-item {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  box-shadow: 0px 0px 0px #8f8f8f;
  border-radius: 100px;
}
.filter-item:hover {
  background: #e2eef3;
}
.text .link,
.text .link i {
  text-decoration: none;
  color: #fff;
}
.text {
  margin: 1rem 0;
}
.text .link:hover i {
  padding-left: 1rem;
}

/* //Support section styles end */
/* Builder section styles start */
.builders .main-title {
  font-size: 50px;
  line-height: 59px;
  font-weight: 400;
}
.builders .main-text {
  font-size: 20px;
  line-height: 30px;
}
.roll-builders .roll-item .text h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 36px;
}
.roll-builders .roll-item .text p {
  font-size: 20px;
  line-height: 28px;
}
.roll-builders .roll-item .link a {
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}
.roll-builders .roll-item .link a:hover i {
  padding-left: 1rem;
}
.roll-builders .roll-item .design-img img {
  width: 214px;
  height: 142px;
}
.roll-builders .roll-item .text {
  padding-left: 1rem;
}
/* //Builder section styles end */
/* Statistika section styles start */
.statistika .text .title {
  font-size: 27px;
  line-height: 36px;
}
.statistika .text .par {
  font-size: 20px;
  line-height: 29px;
  width: 332px;
}
.statistika img {
  width: 100%;
}
/* //Statistika section styles end */
/* Addition styles start */
.addition .content1 {
  text-align: center;
  width: 760px;
  background-color: #e2e2e2;

  padding: 38px;
}
.addition .content1 .title {
  font-size: 28px;
  line-height: 38px;
  font-family: "Roboto", sans-serif;
}
.addition img {
  width: 72px;
  height: 72px;
}
.addition .name {
  font-size: 19px;
  line-height: 29px;
}
.addition .pro {
  font-size: 13px;
  line-height: 16px;
}
.addition .subject {
  font-size: 16px;
  line-height: 18px;
}
.addition .content2 {
  padding: 72px;
  background-color: #000000;
  color: #fff;
  width: 1116px;
}
.addition .content2 .title {
  font-size: 50px;
  line-height: 58px;
  font-family: "Roboto", sans-serif;
}
/* //Addition styles end */
/* Footer styles start */
.footer .content {
  width: 85%;
  margin: 0 auto;
}
.list-item_foo {
  font-size: 16px;
  line-height: 18px;
}
.footer ul li.title {
  font-size: 15px;
  line-height: 18px;
}
/* //Footer styles end */

@media screen and (max-width: 1000px) {
  .header img {
    width: 100%;
    object-fit: cover;
  }
  .header div {
    position: sticky;
  }
  .info {
    height: auto;
  }
  .filter {
    width: 80%;
    background-color: transparent;
  }
  .filter-item {
    border-radius: 10px;
    width: max-content !important;
    padding: 10px;
    background-color: #fff;
    margin: 0.5rem;
  }
  .filter-item:hover {
    background-color: #e2e2e2;
  }
  .info .number p {
    font-size: 2rem;
  }
  .builder .row {
    justify-content: flex-start;
  }
  .statistika .text .par {
    width: 100%;
  }
  .addition .content1,
  .addition .content2 {
    width: 100%;
  }
  .addition .content1 .title {
    font-size: 2rem;
  }
  .addition .content2 .title {
    font-size: 2rem;
  }
  .footer .design-img,
  .footer .design-img2 {
    text-align: center;
  }
}
